<div class="login-page-container">
    <div class="adv-container">
<div class="adv-slogan">
    Fresh,<br> But<br>Different.
</div>
    </div>
    <div class="login-container">
        <div class="login-input-container">
            <div class="login-caption">
                {{isLoginView?"Log in and let's make grocery shopping a breeze.":"Join us and never step foot in a grocery store again!"}}
            </div>
            <div class="login-input">
                <label for="username">Username</label><br>
                <input type="text" name="username">
            </div>
            <div class="login-input">
                <label for="password">Password</label><br>
                <input type="password" name="password">
            </div>
            <div class="login-input" *ngIf="isLoginView">
                <label for="password">Re-Enter Password</label><br>
                <input type="password" name="password">
            </div>
            <div class="sign-up-container" (click)="toggleLoginView()">
                <div class="sign-up">
                <a>{{isLoginView?'Sign-Up':'Log-in'}}</a>
                </div>
            </div>
            <div class="button-container">
                <button>
                   {{ isLoginView?'Login':'Sign-In'}}
                </button>
            </div>
        </div>
    </div>
</div>
