<div class="login-page-container">
    <div class="adv-container">
<div class="adv-slogan">
    Fresh,<br> But<br>Different.
</div>
    </div>
    <div class="login-container">
        <div class="login-input-container">
            <div class="login-caption">
                Log in and let's <br>make grocery shopping a breeze.
            </div>
            <div class="login-input">
                <label for="username">Username</label><br>
                <input type="text" name="username">
            </div>
            <div class="login-input">
                <label for="username">Username</label><br>
                <input type="text" name="username">
            </div>
            <div class="sign-up">
                <a href="https://codepen.io/jh3y/pen/GRpMZZG">Sign-Up</a>
            </div>
            <div class="button-container">
                <button>
                    Login
                </button>
            </div>
        </div>
    </div>
</div>
